.category-title {
  color: #fff;
  font-size: 1.62rem;
  font-weight: bold;
  margin: 37px 0 5px 32px;
  letter-spacing: .6px;
  text-shadow: 1px 1px 6px #1113;
}

.video-row {
  display: flex;
  overflow-x: auto;
  gap: 26px;
  padding: 0 2vw 2.5rem 2vw;
  scroll-behavior: smooth;
}
.video-row::-webkit-scrollbar {
  height: 12px;
  background: #161616;
}
.video-row::-webkit-scrollbar-thumb {
  background: #232323;
  border-radius: 6px;
}

.video-card {
  min-width: 310px;
  max-width: 340px;
  background: #232323;
  border-radius: 8px;
  box-shadow: 0 0 16px #0009;
  padding: 10px 10px 25px 10px;
  margin-bottom: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.video-player {
  width: 100%;
  border-radius: 7px;
  background: #111;
  margin-bottom: 0.5rem;
}
.video-card h3 {
  margin: 16px 0 14px 0;
  font-weight: 600;
  font-size: 1.25rem;
  letter-spacing: .6px;
  text-align: center;
}

.btn-delete {
  margin-top: 0.3rem;
  background-color: #e50914;
  border: none;
  padding: 10px 18px;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.09rem;
  transition: background 0.19s;
  box-shadow: 0 1px 6px #0007;
}
.btn-delete:hover {
  background-color: #f40612;
}
.thumbnail-img {
  transition: box-shadow 0.3s;
}
.thumbnail-img:hover {
  box-shadow: 0 4px 24px #e5091450;
}