.upload-form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 20px 0;
  align-items: center;
}

.upload-input {
  padding: 0.6rem 1rem;
  font-size: 1rem;
  border-radius: 4px;
  border: none;
  min-width: 250px;
  background-color: #222;
  color: white;
  outline: none;
  transition: background-color 0.3s ease;
}

.upload-input:focus {
  background-color: #333;
}

.upload-btn {
  background-color: #e50914;
  color: white;
  font-weight: bold;
  border: none;
  padding: 0.7rem 1.8rem;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1rem;
  transition: background-color 0.25s ease;
}

.upload-btn:hover {
  background-color: #f40612;
}
.upload-label {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 4px;
  display: block;
  color: #fff;
  font-size: 1rem;
}

.file-name {
  color: #ccc;
  font-size: 0.9rem;
  margin-bottom: 10px;
}

