body {
  margin: 0;
  padding: 0;
}
.hero-bg {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  width: 100vw;
  height: 100vh;
  background: rgba(40,50,50,0.46);
  /* backdrop-filter: blur(8px); // For blur effect */
  z-index: -1;
}
.hero-video {
      max-width: 900px;
  margin: 0 auto;
  display: block;
  width: 70vw;       /* or max-width: 900px; */
  height: 500px;
  object-fit: cover;
  border-radius: 20px;
  filter: drop-shadow(12px 16px 12px rgba(0, 0, 0, 0.6));
}
/* Rest of your page content should be inside a container with margin/padding to center it */
.main-content {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding-top: 65px;
}



.details-bar {
  width: 60vw;
  max-width: 1500px;
  margin: 32px auto 0 auto;
  padding: 28px 38px;
  border-radius: 20px;
  background: rgba(38, 38, 38, 0.676);
  color: #fff;
    box-shadow: 0 2px 20px #2226;
    text-align: left;
   
}

